<div class="container">
    <div id="branding">
        <h1><span class="highlight">Bladimir Salazar</span></h1>
    </div>
    <nav>
        <ul>
            <li class="current"><a href="{{ '/' | relative_url }}">Inicio</a></li>
            <li><a href="{{ '/portfolio/' | relative_url }}">Portafolio</a></li>
            <li><a href="{{ '/blog/' | relative_url }}">Blog</a></li>
            <li><a href="{{ '/vr/' | relative_url }}">VR Streaming</a></li>
            <li><a href="{{ '/contact/' | relative_url }}">Contacto</a></li>
        </ul>
    </nav>
</div>